.bordure-bleu 
{
    border: 2px solid blue;
}
  
  
.bordure-verte 
{
    border: 2px solid green;
}
  
 
.bordure-orange {
    border: 2px solid orange;
}
  
  
.bordure-rouge {
    border: 2px solid red;
}